DB_HOST=locahost:5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_DRIVER=         # mysql or pgsql
DB_PORT=5432


MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=youremail@domain.com
MAIL_PASSWORD=yourpassword
MAIL_PORT=587 # smtp port
MAIL_FROM_NAME= # mail-from name
APP_URL=yourapp.domain.com
